.btn-close {
  float: right;
}

.table-details {
  font-size: 18px;
  line-height: 30px;
  width: 100%;

  tr {
    display: flex;
    justify-content: space-between;
  }

  th {
    text-align: left;
  }

  th, td {
    width: 48%;
  }
}

.btn-redirect-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.btn-redirect {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background: rgb(4,10,23);
  background: linear-gradient(45deg, rgba(4,10,23,1) 3%, rgba(0,24,72,1) 30%, rgba(75,46,133,1) 70%);
}
