.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    padding: 5px 10px;
    text-decoration: none;
    color: #E1EEEB;
    border: 1px solid transparent;
  }

  .active {
    border: 1px solid #E1EEEB;
    border-radius: 5px;
  }
}

.body {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0,24,72,1) 0%, rgba(48,24,96,1) 45%);
}

.container {
  width: clamp(300px, 100%, 1200px);
  height: 100%;
  padding: 30px;
  margin: 0 auto;
}
